---
import PostCalendar from '../components/PostCalendar.svelte';
import MainLayout from '../layouts/MainLayout.astro';
import ClientList from '../components/ClientList.svelte';
import Login from '../components/Login.svelte';
import { pb } from '../lib/pocketbase';

const isLoggedIn = pb.authStore.isValid;
---

<MainLayout>
  <main>
    {
      isLoggedIn ? (
        <p>
          You are logged in. <a href="/clients">Go to Clients</a>
        </p>
      ) : (
        <Login client:load />
      )
    }
  </main>
</MainLayout>
